:root {
    --gothic-black: #0e0e12;
    --gothic-darkest: #1a1a24;
    --gothic-darker: #333346;
    --gothic-dark: #535373;
    --gothic-dark-faded: rgba(83, 83, 115, 0.5);
    --gothic-light: #8080a4;
    --gothic-light-faded: rgba(128, 128, 164, 0.5);
    --gothic-lighter: #a6a6bf;
    --gothic-lightest: #c1c1d2;
    --gothic-white: #e6e6ec;
    --border-thickness: 2px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 375px 0px 375px;
    color: var(--gothic-darkest);
    background-color: var(--gothic-lightest);
}

h2{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 75px;
}

h1, h2{
    text-align: center;
}

a{
    color: var(--gothic-black);
}