.s-search-container {
    all: unset;
    all: initial;
    box-sizing: border-box;


    position: fixed;
    top: 30px;
    right: 15%;
    display: flex;
    width: 150px;
    height: 30px;
    border: 1px solid #555555;
    background-color: #191c20;
    color: #d5e2e9;
    padding: 4px 8px;
    border-radius: 8px;
    z-index: 100000;
}

.s-search-input {
    all: unset;
    all: initial;
    box-sizing: border-box;


    height: 100%;
    width: 100%;
    padding: 1px 2px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #191c20 !important;
    color: #d5e2e9 !important;
}


.s-hightlight{
    background-color: aquamarine;
}