:host {
    --gothic-black: #0e0e12;
    --gothic-darkest: #1a1a24;
    --gothic-darker: #333346;
    --gothic-dark: #535373;
    --gothic-dark-faded: rgba(83, 83, 115, 0.5);
    --gothic-light: #8080a4;
    --gothic-light-faded: rgba(128, 128, 164, 0.5);
    --gothic-lighter: #a6a6bf;
    --gothic-lightest: #c1c1d2;
    --gothic-white: #e6e6ec;
    --border-thickness: 2px;
}

* {
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

input {
    background-color: transparent;
}

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--gothic-lighter);
    background-color: var(--gothic-light);
}

input[type="checkbox"]:checked {
    background-color: var(--gothic-dark);
    /* Your active color */
}

/* Add a custom checkmark icon */
input[type="checkbox"]:checked::after {
    content: '✔';
    color: var(--gothic-white);
    font-size: 10px;
}


.search-container {
    position: fixed;
    width: fit-content;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    /* ? There border are for design consitancy they match with the borders of modes-container */
    border: var(--border-thickness) solid var(--gothic-darker);
    /* padding: 5px 5px 5px 0; */
    background-color: var(--gothic-darker);
    z-index: 2147483647;

    top: 5%;
    left: 60%;
    /*box-shadow: h-offset v-offset blur-radius spread-radius color inset; */
    /* box-shadow: 0 0 10px 0 var(--gothic-light-faded); */

}

.search-panel {
    width: fit-content;
    height: 100%;
    display: flex;
    border-radius: 8px;
    padding: 5px 5px 5px 0;
    background-color: var(--gothic-darker);
    z-index: 10;
}

.iterator-pane {
    position: absolute;
    /* top: -58%; */
    top: -0%;
    left: 71.5%;
    width: 100px;
    height: 20px;
    background-color: var(--gothic-lighter);
    color: var(--gothic-darkest);
    border: var(--border-thickness) solid var(--gothic-light);

    border-radius: 4px 4px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -10;

    transition: top 1s ease-in-out;
}

.iterator-pane-input {
    width: 35px;
    height: 100%;
    color: var(--gothic-darkest);
    text-align: center;
    font-size: 14px;
}

.iterator-pane-result {
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.drag-handle {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.drag-handle.grabbed {
    cursor: grabbing;
}


.input-container {
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 5px;
    padding: 0 10px 0 0;
    border-radius: 4px;
    background-color: var(--gothic-darkest);
}

.input {
    width: 150px;
    height: 100%;
    padding: 5px 0px 5px 10px;
    font-size: medium;
    color: var(--gothic-lightest);
    flex: 1;
}

.input-btn {
    /* min-width: 30px; */
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: background-color 0.25s ease-in-out;
}

.input-btn:hover {
    background-color: var(--gothic-darker);
}

.input-btn.active {
    background-color: var(--gothic-dark);
}

.input-btn.active:hover {
    background-color: var(--gothic-dark);
}



.toolbar {
    height: 100%;
    width: fit-content;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    margin-left: 5px;
}

.tool-btn {
    width: 40px;
    height: 100%;
    border-radius: 4px;
    background-color: var(--gothic-darkest);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-btn .move-arrows {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.move-arrows .arrow {
    transition: background-color 0.25s ease-in-out;
}

.move-arrows .arrow:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--gothic-darker);
}


.expand-btn {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: background-color 0.25s ease-in-out;
}

.expand-btn>svg {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.expand-btn>svg.rotate {
    transform: rotate(-180deg);
}

.expand-btn:hover {
    background-color: var(--gothic-darker);
}

.loading-circle {
    height: 40px;
    width: auto;
    aspect-ratio: initial;
    filter: invert(85%) sepia(10%) saturate(550%) hue-rotate(195deg) brightness(92%) contrast(88%);
}



.modes-container {
    position: absolute;
    top: 5px;
    height: 0px;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: var(--border-thickness) solid var(--gothic-lighter);
    padding: 5px 10px 0px 10px;
    background-color: var(--gothic-lightest);
    color: var(--gothic-darkest);

    user-select: none;

    transition: top 0.3s ease-in-out,
        height 0.3s ease-in-out;
    overflow: hidden;
    /* box-shadow: 0 0 10px 0 var(--gothic-dark-faded); */

}

.modes-container.opened {
    top: 60px;
    /* ! Hard coded height that would be obtained on fit-content */
    height: 180px;
}

.area-tags {
    display: flex;
    width: 100%;
    height: 40px;
    gap: 20px;
    border-bottom: 2px solid var(--gothic-light);
}

.area-tags .tag {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    gap: 10px;
}

.modes {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px 0 10px 0;
}

.mode {
    width: 100%;
    display: flex;
}

.mode-name {
    margin-right: auto;
}